css/bootstrap*
fonts/*
images/*
config
js/leaflet/*
js/bootstrap*
js/npm.js
*.pyc
css/l.*
js/l.*
img/*
nbproject/*
/NRV-Park-Finder/nbproject/private/
css/jquery*
js/jquery*
css/images/*